:root {
  --primary: #8093f1;
  --bg: #023047;
  --text-light: #aaaaaa;
  --ff: "Stack Sans Text";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}
body {
  background-color: var(--bg);
  color: var(--text-light);
  min-height: 100vh;
  place-content: center;
  place-items: center;
  padding: 1.5rem;
}
header {
  text-align: center;
}
header h1 {
  color: var(--primary);
  font-size: 2.5rem;
}
header p {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}
section {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#textType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-light);
}
.a.active {
  color: #ffffff;
  font-weight: 600;
  background: var(--primary);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}
#quantity {
  outline: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--text-light);
  background-color: transparent;
  color: var(--text-light);
}
#quantity:focus {
  border-color: var(--primary);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-generate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary);
  background: var(--primary);
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-generate:hover{
  background-color: transparent;
}
/* .output {
  margin: 1rem 0 2rem;
  position: relative;
}
.output h2 {
  color: var(--primary);
  font-size: 1.5rem;
  margin: 1rem 0;
}
.btn-copy {
  background-color: transparent;
  padding: 0.4rem .7rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
}
.output-text {
  background: rgba(255, 255, 255, 0.03);
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  min-height: 200px;
  line-height: 1.8;
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
} */
/* .output-text:empty::before {
  content: "Generated text will appear here...";
  color: var(--text-light);
  opacity: 0.5;
} */
/* @media (max-width: 600px) {
  body {
    padding: 1rem;
  }
    
.container {
 width: 40rem;
}
  header h1 {
    font-size: 2rem;
  }
  main {
    padding: 1.5rem;
  }
  #generatorForm {
    flex-direction: column;
  }
  .form-group {
    width: 100%;
  }
  .btn-generate {
    width: 100%;
  }
} */
