:root {
  --primary: #8093f1;
  --bg: #023047;
  --text-light: #aaaaaa;
  --ff: "Stack Sans Text";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}
body {
  background-color: var(--bg);
  color: var(--text-light);
  min-height: 100vh;
  place-content: center;
  place-items: center;
  padding: 1.5rem 1.5rem 2rem;
}
header {
  text-align: center;
}
header h1 {
  color: var(--primary);
  font-size: 2.5rem;
}
header p {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}
section {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#textType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-light);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}
.a.active {
  color: #ffffff;
  font-weight: 600;
  background: var(--primary);
  transition: all 0.3s ease;
}
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}
#quantity {
  outline: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--text-light);
  background-color: transparent;
  color: var(--text-light);
}
#quantity:focus {
  border-color: var(--primary);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-generate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary);
  background: var(--primary);
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-generate:hover {
  background-color: transparent;
}
.output-section {
  margin: 1rem 0;
}
.output-section h2 {
  color: var(--primary);
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}
.btn-copy {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.output {
  background: rgba(255, 255, 255, 0.03);
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}
.output span {
  min-height: 150px;
  line-height: 1.8;
  color: var(--text-light);
  white-space: pre-wrap;
  word-wrap: break-word;
}
.tribute {
  position: fixed;
  bottom: 2rem;
  font-size: 0.8rem;
  color: var(--text-light);
}
.tribute a {
  color: var(--text-light);
}
.tribute:hover  a{
  color: var(--primary);
  text-decoration: none;
}
@media (min-width: 600px) {
  body {
    padding: 0;
  }
  .container {
    width: 35rem;
  }
  #textType {
    justify-content: start;
  }
}
